h1 {
    opacity: 0
}

.container {
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
}

.line {
    overflow: hidden;
}

.word {
    border: 1.5px dashed var(--color-surface-white);
    background-image: var(--color-text-gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    height: 50px;
    padding: 1rem;
    border-radius: 10px;
    margin: 0.25rem;
}